@use '/src/styles.scss' as styles;

.card {
  width: 120px;
  padding: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: styles.$dark-primary;
  color: styles.$text-color;
  &__header {
    margin-bottom: 10px;
  }
  &__content {
    margin-bottom: 32px;
    img {
      width: 3.5rem;
    }
  }
  &__sub-content {
    display: flex;
    justify-content: space-between;
    @include styles.font-normal;
  }
}
