/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap');
@import "colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}


$dark-primary: $dark-blue-1;

$dark-text: $grey-10;

$text-color: $dark-text;

@mixin font-normal {
  font: {
    family: 'Raleway', sans-serif;
    size: 16px;
    weight: 500;
  }
}
